* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
html, body, .wrapper {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(30, 30, 30);
}
.connection-error-pop-up {
    display: 'none';
    width: 220px;
    padding: 30px;
    position: absolute;
    top: 20px;
    left: calc(50% - 110px);
    border: 1px solid rgb(20, 20, 20);
    border-radius: 8px;
    background-color: rgb(60, 60, 60);
    box-shadow: 0 0 5px;
    opacity: 0;
}
.connection-error-pop-up__text {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgb(255, 100, 100);
}
.chat {
    width: 100%;
    height: 400px;
    max-width: 600px;
    margin-bottom: 30px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 6px;
    overflow-y: auto;
    background-color: rgb(60, 60, 60);
}
.chat__message-block {
    padding: 10px;
}
.chat__name {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 24px;
}
.chat__message {
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}
.chat__image {
    display: block;
    width: 200px;
    height: auto;
}
.form {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    position: relative;
}
.form__name-button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 20px;
}
.form__name-svg-icon {
    display: block;
    width: 20px;
    height: 20px;
}
.form__name-input {
    display: none;
    width: 100px;
    padding: 8px;
    position: absolute;
    bottom: calc(100% + 20px);
    left: 0;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(20, 20, 20);
    border-radius: 6px;
    opacity: 0;
}
.form__message-input {
    display: block;
    flex: 1;
    min-width: 0;
    padding: 8px;
    margin: 0 10px 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 6px;
}
.form__stickers-button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 20px;
}
.form__stickers-svg-icon {
    display: block;
    width: 20px;
    height: 20px;
}
.form__set-of-stickers {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    overflow: auto;
    position: absolute;
    bottom: calc(100% + 20px);
    right: 0;
    padding: 10px 10px 0px;
    background-color: rgb(70, 70, 70);
    border: 1px solid rgb(20, 20, 20);
    border-radius: 6px;
    opacity: 0;
}
.form__sticker {
    display: block;
    width: 60px;
    height: auto;
    margin: 0 3px 10px;
}
.form__submit-button {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
    border: none;  
    border-radius: 20px;
}
.form__submit-svg-icon {
    display: block;
    width: 20px;
    height: 20px;
}
@media(max-width: 360px) {
    .chat {
        flex: 1;
        height: auto;
    }
}