* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
html, body, .wrapper {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    background-color: rgb(30, 30, 30);
}
.chat {
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 6px;
    overflow-y: auto;
    background-color: rgb(60, 60, 60);
}
.chat__message-block {
    padding: 10px;
}
.chat__name {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 24px;
}
.chat__message {
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}
.chat__image {
    display: block;
    width: 200px;
    height: auto;
}
.form {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.form__name-input {
    display: block;
    width: 100px;
    padding: 8px;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 6px;
}
.form__message-input {
    display: block;
    width: 180px;
    padding: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 6px;
}
.form__sticker-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 20px;
}
.form__stickers-svg-icon {
    display: block;
    width: 20px;
    height: 20px;
}
.form__sticker-block {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 0px;
    background-color: rgb(70, 70, 70);
    border-radius: 6px;
    opacity: 0;
}
.form__sticker {
    display: block;
    width: 60px;
    height: auto;
    margin: 0 3px 10px;
}
.form__submit-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
    border: none;  
    border-radius: 20px;
}
.form__submit-svg-icon {
    display: block;
    width: 20px;
    height: 20px;
}